* {
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0;
}

#header {
  font-size: 2em;
  background-color: rgb(96, 146, 221);
  padding: 10px 20px;
  border-radius: 7px;
  color: rgb(186, 253, 235);
}

.container {
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  height: 100vh;
  box-sizing: border-box;
}

.container * {
  font-size: 1em;
}

.create-todo-item-btn {
  background-color: rgb(146, 234, 160);
  font-size: 1.2em
}

.create-todo-item-modal__header {
  text-align: center;
  font-size: 2em;
  padding: 5px;
  margin-bottom: 5px;
  border-bottom: 2px solid black;
}

.create-todo-item-modal__body {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  background-color: rgb(140, 208, 250) !important;
}

.create-todo-item-modal__body > input,
.create-todo-item-modal__body > textarea {
  outline: none;
  border: 2px solid black;
  border-radius: 5px;
  padding: 5px 5px;
  font-size: 1.2em;
}

.create-todo-item-modal__controls {
  display: flex;
  align-self: flex-end;
  gap: 8px;
}

#create-todo-item-modal__create-btn {
  background-color: rgb(128, 171, 255);
}

#create-todo-item-modal__cancel-btn {
  background-color: rgb(180, 180, 180);
}

.todo-list {
  display: flex;
  flex-direction: column;
  gap: 0.4em;
  overflow-y: auto;
  padding: 0 10px;
}

.todo-list::-webkit-scrollbar {
  width: 0.9em;
}
 
.todo-list::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 7px;
}
 
.todo-list::-webkit-scrollbar-thumb {
  background-color: rgb(231, 204, 253);
  border: 2px solid rgb(121, 121, 121);
  /* background-color: darkgrey;
  border: 2px solid rgb(121, 121, 121); */
  border-radius: 7px;
}

.todo-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  border: 2px solid black;
  border-radius: 7px;
  padding: 5px 10px;
  min-width: 400px;
  box-sizing: border-box;
  font-size: 1.2em;
}

.todo-item__controls {
  display: flex;
  gap: 5px;
}

#check-todo-item-btn {
  background-color: rgb(146, 234, 160);
}

#delete-todo-item-btn {
  background-color: rgb(252, 157, 157);
}

.todo-item_checked {
  background-color: rgb(255, 213, 213);
}
